@model UsuarioModel

@{
    Layout = "../Shared/_LayoutLogin.cshtml";

    try
    {
        if (TempData["MensagemLoginInvalido"] != null)
        {
            <div class="alert alert-danger">
                <strong>Atenção!</strong><br />@TempData["MensagemLoginInvalido"]
            </div>
        }
    }
    catch
    {

    }
}



<form asp-controller="Usuario" asp-action="ValidarLogin">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <label for="pwd">Senha:</label>
        <input type="password" class="form-control" asp-for="Senha">
    </div>
    <div class="checkbox">
        <label><input type="checkbox">Lembrar meu acesso</label>
    </div>
    <button type="submit" class="btn btn-success">Entrar</button>
    <button type="button" onclick="javascript:window.location.href='Registrar'" class="btn btn-primary">Registrar</button>
</form>