<div class="row">
    <div class="col-lg-6">
        <a style="color: #ffffff" href="../Usuario/Login"><button type="button" class="btn btn-primary btn-block">Entrar no sistema</button></a>
    </div>
    <div class="col-lg-6">
        <a style="color: #ffffff" href="../Usuario/Registrar"><button type="button" class="btn btn-success btn-block">Registrar conta</button></a>
    </div>
</div>