
@{
    ViewData["Title"] = "Menu";
}

<div class="row">
    <a href="../Conta/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/conta.png" class="icones-menu" />
            <h3>Conta</h3>
        </div>
    </a>
    <a href="../PlanoConta/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/planocontas.png" class="icones-menu" />
            <h3>Plano de contas</h3>
        </div>
    </a>
    <a href="../Transacao/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/registrar_transacao.png" class="icones-menu" />
            <h3>Registrar transação</h3>
        </div>
    </a>
</div>
<br />
<br />
<br />
<div class="row">
    <a href="../Transacao/Extrato">
        <div class="col-lg-4 text-center">
            <img src="~/images/extrato.png" class="icones-menu" />
            <h3>Extrato</h3>
        </div>
    </a>
    <a href="../Transacao/Dashboard">
        <div class="col-lg-4 text-center">
            <img src="~/images/dashboard.png" class="icones-menu" />
            <h3>Dashboard</h3>
        </div>
    </a>
    <a href="../Home/Ajuda">
        <div class="col-lg-4 text-center">
            <img src="~/images/ajuda.png" class="icones-menu" />
            <h3>Ajuda</h3>
        </div>
    </a>
</div>